---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}

    <div>
        <div>
            <h2 class="post-list-heading">Homelab</h2>
            <ul class="post-list">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {% for post in site.categories.homelab limit:30 %}
                  <li>
<!--                    <span class="post-meta">{{ post.date | date: date_format }}</span>-->
                    <h3>
                      <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                      </a>
                    </h3>
                  </li>
                {% endfor %}
            </ul>
        </div>
        <div class="post-wrapper">
            <div class="post-container">
                {%- if posts.size > 0 -%}
                <h2 class="post-list-heading">Статьи, посты</h2>
                {%- endif -%}
                <ul class="post-list">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {% for post in posts limit: 30 %}
                        {% unless post.categories contains "homelab" %}
                            <li>
    <!--                            <span class="post-meta">{{ post.date | date: date_format }}</span>-->
                                <h3>
                                    <a class="post-link" href="{{ post.url | relative_url }}">
                                        {{ post.title | escape }}
                                    </a>
                                </h3>
                                {%- if site.show_excerpts -%}
                                {{ post.excerpt }}
                                {%- endif -%}
                            </li>
                            {{ post.content | strip_html | truncatewords:50}}
                            <br><a href="{{ post.url | relative_url }}">Читать далее...</a><br><br>
                        {% endunless %}
                    {%- endfor -%}
                </ul>
            </div>
            <div>
                <h2 class="post-list-heading">На Хабре</h2>
                <ul class="post-list">
                    <li>
                        <h3>
                            <a class="post-link" href="https://habr.com/ru/articles/1065552/" target="_blank" >Homelab для дата инженерии из игрового ПК</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a class="post-link" href="https://habr.com/ru/articles/870904/" target="_blank" >Может ли ИИ автоматизировать создание обзорных статей?</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a class="post-link" href="https://habr.com/ru/articles/822141/" target="_blank" >1-битные LLM могут решить проблему энергопотребления ИИ</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a class="post-link" href="https://habr.com/ru/articles/760348/" target="_blank" >Введение в Cloud native. Часть 2. Принципы облачных приложений</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <a class="post-link" href="https://habr.com/ru/articles/758250/" target="_blank" >Введение в Cloud native. Часть 1. Определение и модель облачных вычислений</a>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>